body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    overflow: hidden;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 95vw;
    max-width: 800px;
    height: 95vh;
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.titel-balk {
    background-color: #B1D249;
    color: white;
    font-size: 30px;
    flex-grow: 1;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.dot {
    height: 75px;
    width: 75px;
    background-color: #B1D249;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    font-family: "Roboto Thin";
}

.header {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.photo-box {
    width: 15%;
    height: 60px;
    background-color: #E0E0E0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #333;
    margin-right: 10px;
    border: 2px dashed #B1D249;
    flex-shrink: 0;
}

.text-box {
    flex-grow: 1;
    height: 60px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #B1D249;
    padding: 10px;
    font-size: 16px;
    color: #333;
    outline: none;
    box-sizing: border-box;
    resize: none;
    overflow: auto;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex-grow: 1;
}

.number {
    font-size: 34px;
    color: #B1D249;
    margin-right: 10px;
    flex-shrink: 0;
}

.button-1 {
    background-color: #B1D249;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    height: 50px;
    line-height: 20px;
    margin: 20px auto 0 auto;
    outline: none;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 50%;
}

.button-1:hover,
.button-1:focus {
    background-color: rgba(177, 210, 73, 0.81);
}

@media (min-width: 768px) {
    body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container {
        width: 700px;
        padding: 50px;
        height: 95vh;
    }
    .button-1 {
        padding: 20px 40px;
    }
}
